<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:OpenEOJsonLogLayout.json"  locationInfoEnabled="true"/>
            <Filters>
                <!-- this filter allows to print 1 log (maxBurst) every minute (rate) -->
                <BurstFilter level="warn" rate="0.0166" maxBurst="1"/>
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.openeo.geotrellis.OpenEOProcessScriptBuilder" level="warn"/>
        <Logger name="com.amazonaws.latency" level="warn"/>
        <Logger name="com.amazonaws.request" level="warn"/>
        <Logger name="org.apache.curator" level="warn"/>
        <Logger name="org.apache.hadoop" level="error"/>
        <Logger name="org.apache.spark" level="info"/>
        <Logger name="org.apache.spark.deploy.yarn.ApplicationMaster" level="off"/> <!-- Ignore this: "User application exited with status 1" -->
        <Logger name="org.apache.spark.executor.Executor" level="info"/>
        <Logger name="org.apache.spark.network.server.TransportRequestHandler" level="off"/> <!-- Ignore this: "Could not find CoarseGrainedScheduler." -->
        <Logger name="org.apache.spark.scheduler.TaskSetManager" level="warn"/>
        <Logger name="org.apache.spark.storage.DiskBlockObjectWriter" level="off"/>
        <Logger name="org.apache.zookeeper" level="warn"/>
        <Logger name="org.apache.zookeeper.ClientCnxn" level="error"/> <!-- Ignore this: "Unable to read additional data from server sessionid 0x..., likely server has closed socket" -->
        <Logger name="org.openeo.geotrellis.layers.OpenSearch" level="debug"/>
        <Logger name="org.sparkproject.jetty.server" level="warn"/>
        <Logger name="ucar.nc2.jni.netcdf.Nc4Iosp" level="warn"/>        
        <Logger name="software.amazon.awssdk.requestId" level="warn"/>
        <Logger name="software.amazon.awssdk" level="warn"/>
        <Root level="info">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
